<a href="https://colab.research.google.com/github/kiranP412/day-3-python-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is a comment. It will not be executed.
print("Hello, World!")

Hello, World!

getting types of variables

In [ ]:
# Define variables with different data types
a = 42
b = 3.14
c = "Hello, World!"
li = [1, 2, 3]
d = {'key': 'value'}
bool = True

# Get and print the type of each variable
print(type(a))
print(type(b))
print(type(c))
print(type(li))
print(type(d))
print(type(bool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

swapping two variables

In [ ]:
a, b = 300, 600
a, b = b, a
print(a, b)

600 300

Arithmetic operator

In [ ]:
# Variables
a = 9
b = 6

# Addition
print("Addition:", a + b)

# Subtraction
print("Subtraction:", a - b)

# Multiplication
print("Multiplication:", a * b)

# Division
print("Division:", a / b)

# Floor Division
print("Floor Division:", a // b)

# Modulus
print("Modulus:", a % b)

# Exponentiation
print("Exponentiation:", a ** b)

Addition: 15
Subtraction: 3
Multiplication: 54
Division: 1.5
Floor Division: 1
Modulus: 3
Exponentiation: 531441

identity operator

In [ ]:
a = 1
b = 2
c = a

print(a is not b)
print(a is c)

True
True

List of Keywords

In [ ]:
import keyword

# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

list data type

In [ ]:
# List operations
fruits = ["apple", "banana", "cherry"]
fruits.append("mango")
print("Fruits:", fruits)
print("First Fruit:", fruits[0])
fruits.remove("banana")
print("After removing banana:", fruits)

Fruits: ['apple', 'banana', 'cherry', 'mango']
First Fruit: apple
After removing banana: ['apple', 'cherry', 'mango']

Day 3   recursion

In [ ]:
def fibonacci(n):
    if n <= 3:            # base case
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

for i in range(6):
    print(fibonacci(i))

0
1
2
3
5
8

(Positional Arguments)

In [ ]:
def add_numbers(*args):
    total = 0
    for num in args:
        total += num
    print("Sum:", total)

add_numbers( 4, 12)
add_numbers(9, 8, 7, 6, 5)

Sum: 16
Sum: 35

(Keyword Arguments)

In [ ]:
def show_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

show_info(name="Sai", age=22, city="Vizag")

name: Sai
age: 22
city: Vizag

First class function

In [ ]:
def add(x, y):
    return x + y

def operate(func, a, b):
    return func(a, b)

result = operate(add, 4, 9)
print(result)

13

Lambda with sorted()

In [ ]:
students = [("Sai", 22), ("Anu", 20), ("Kiran", 25)]
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)

[('Anu', 20), ('Sai', 22), ('Kiran', 25)]

Map function

In [ ]:
numbers = [1, 2, 3, ]
squared_numbers = map(lambda x: x**2, numbers)
print(list(squared_numbers))

[1, 4, 9]

Filter function

In [ ]:
def is_even(n):                          #filtering even numbers
    return n % 2 == 0

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = filter(is_even, numbers)

print(list(even_numbers))  # Convert to list

[2, 4, 6, 8, 10]